.crop {
  overflow: hidden;
  height:15px;
}
div {
  cursor: pointer;
}

.overlay {
  width: 100px;
  height: 15px;
  position: relative;
}
.under,
.over {
  width: 100%;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
}
.over {
  z-index: 10;
}
