<div class="overlay">

  <div class="under" (click)="onClick($event)">
      <div style="width: 75px">
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>
        <span class="fa fa-star-o"></span>
      </div>
    </div>

  <div class="crop over" [style.width.px]="starWidth" [title]="rating" (click)="onClick($event)">
    <div style="width: 75px">
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span>
    </div>
  </div>
</div>
