<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
      Willkommen to {{ title }}!
    </h1>
    <app-star [(rating)] = "myRating"></app-star>
    <div class='table-responsive' >
      <table class='table'>
        <thead>
          <tr>
            <th>
              <button (click)="toggleImage()" class='btn btn-primary'>
                {{showImage ? "Hide image" : "ShowImage"}}
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <!-- <td><img style="width: 80px" src="{{product.imageUrl}}"/></td>   -->
            <td>
              <img *ngIf="showImage" style="width: 60px;" [src]="product.imageUrl" [title]="product.productName">
            </td>
            <td> <a [routerLink]="['/products', product.productId]">{{product.productName}}</a></td>
            <td>{{product.productCode }}</td>
            <td>{{product.releaseDate}}</td>
            <td>{{product.price | currency:'USD':'symbol':'1.2-2'}}</td>
            <td><app-star [(rating)]="product.starRating" ></app-star> </td>
          </tr>
        </tbody>
      </table>
    </div>
